.some-background {
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-color: #ff0;
}

.some-font {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.unhandled-shorthand {
  list-style: none;
}
